<html>
<head>
      <meta charset="UTF-8">
    {% load static %}
    <script   src="http://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
    <script src="https://www.jsviews.com/download/jsrender.js"></script>
    <script id="recipeTemplate" type="text/x-jsrender">
                <div>
                    <a target="_blank" href="<%:link%>"><%:name%></a>
                </div>
            </script>
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="topping">
        <h1>Wegańska lodówka</h1>
    </div>
    <div class="container">
        <div class="left bgwhite">
            <p>{% for type in types %}
                <b>{{ type.name }}</b></br>
                {% for ingredient in type.ingredients.all %}
                <input type="checkbox" class="ingredient" value="{{ ingredient.id }}" name="ingredients">{{ ingredient }}<br>
                {% endfor %}
            {% endfor %}
            </p>
        </div>
        <div class="right bgwhite">
            <p>Propozycje przepisów</p>
            <hr />
            <p>Już niedługo pojawią się tutaj przepisy, które zawierają zaznaczone przez Ciebie składniki! :)</p>
            <div id="recipesContainer"></div>
        </div>
    </div>
    <div class="footer">
        <p class="end1">Proudly done by Snow Rainy.</p>
    </div>
<script src="{% static 'js/recipes.js' %}" type="text/javascript"></script>
</body>
</html>