<html>
<head>
      <meta charset="UTF-8">
    {% load static %}
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="topping">
        <h1>Wegańska lodówka</h1>
    </div>
    <div class="container">
        <div class="left bgwhite">
            <p>{% for ingredient in ingredients %}
                <input type="checkbox" value="{{ ingredient.id }}" name="ingredients">{{ ingredient }}<br>
                {% endfor %}</p>
        </div>
        <div class="right bgwhite">
            <p>Propozycje przepisów</p>
            <hr />
            <p>Już niedługo pojawią się tutaj przepisy, które zawierają zaznaczone przez Ciebie składniki! :)</p>
        </div>
    </div>
    <div class="footer">
        <p class="end1">Proudly done by Snow Rainy.</p>
    </div>
</body>
</html>